<!DOCTYPE html>
<html>
    <head>
        <title> The solar System </title>
        <link rel="stylesheet" href="/css/styles.css" />
      <div class="jumbotron">
        <h1> Welcome to the solar System site! </h1> </div>
        <p>The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, 
        either directly or indirectly.<br> Of the objects that orbit the Sun directly, the largest are the eight planets,
        with the remainder being smaller objects, the dwarf planets and small Solar System bodies.</p>
       
        <p> To learn more about a couple of more planets, please select from below.</p>
        
        <div class="container">
        <a href="/mercury">Mercury</a><br>
        <a href="/venus"> Venus </a><br>
        <a href="/earth"> Earth </a><br> <br>
        </div><br><br>
        
        
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
    </head>
    
    <body>
   <img src="/img/solar_system.jpg" alt="The Solar System"></img>

<hr>
 <p>
CST336 Internet Programming. 2020&copy; Bernard <br>
<strong>Disclaimer: </strong>The information in this webpage is fictitious. <br>
It is used for academic purposes only.
</p>
</body>
</html>